<!DOCTYPE html>
<html lang="ko">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>C&K Korea</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

</head>
  
  

<body>
    
    <header class="abouthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To C&K!</div>
          <div class="intro-heading text-uppercase">씨엔케이코리아 소개</div>
        </div>
      </div>
    </header>
    
      <div class="container">
        
        <div class="row about_margin">
          <div class="col-lg-12 text-center">
            <img class="CI" src="img/ab/CI.jpg">
            
          </div>
        </div>
        
        
        <div class="row about_margin">
            <div class="col-md-6">
              <img class="about_invest" src="img/ab/invest.jpg">
            </div>
            <div class="col-md-6 about-container">
              <div class="about_text">
                <h4 class="service-heading">Real Estate Investment</h4>
                <p class="text-muted">C&K는 전문가들로 구성된 부동산 종합 투자 전문 기업입니다. 부동산 투자 시장에서의 풍부한 시행 경험과 남다른 기획력, C&K만의 차별화된 노하우로 성공적인 투자사업을 실현합니다.<K></K></p>
              </div>
            </div>
          </div>
        
        
        <div class="row about_margin">
          <div class="col-md-6 about-container">
            <div class="about_text">
              <h4 class="service-heading">Power Creative</h4>
              <p class="text-muted">C&K는 시장의 흐름을 읽고, 철저한 사전 조사와 완벽한 기획력을 바탕으로 상황을 직시하고 시장의 흐름을 정확히 파악합니다. 투자에 대한 리스크를 최소화하고 효과를 극대화하여 누구도 상상하지 못할 스케일을 만듭니다.<K></K></p>
            </div>
          </div>
          <div class="col-md-6">
            <img class="about_invest" src="img/ab/creative.jpg">
          </div>
            
        </div>
        
        <div class="row about_margin">
            <div class="col-md-6">
              <img class="about_invest" src="img/ab/collaboration.jpg">
            </div>
            <div class="col-md-6 about-container">
              <div class="about_text">
                <h4 class="service-heading">Collaboration</h4>
                <p class="text-muted">불확실한 시장환경, 확실한 파트너가 필요하십니까? C&K는 우수한 전문 인력과 젊고 패기 있는 임직원이 함께합니다. 모든 임직원의 사명감으로 100% 성공 투자를 약속드립니다.
        <K></K></p>
              </div>
            </div>
          </div>
        
        
          
          
    
    
    
</body>


</html>